/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* CSS Variables */
:root{
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;

    --first-color: #4070F4;   
    --second-color: #0E2431;

    --header-height: 3rem;
    --font-semi: 600;
  }
  @media screen and (min-width: 768px){
    :root{
      --big-font-size: 3.5rem;
      --h2-font-size: 2rem;
      --normal-font-size: 1rem;
    }
  }

*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}
h1,h2,p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* === Class CSS === */

.section_title{
    position: relative;
    color: var(--first-color);
    font-size: var(--h2-font-size);
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.section_title::after{
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

.section{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/* == Layout == */
.bd_grid{
    display: grid;
    max-width: 1024px;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: calc(100% - 2rem);
}

.header-1{
    width: 100%;
    position: fixed;
    background-color:  #fff;
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
    top: 0;
    left: 0;
    z-index: 100;
}

/* === Nav === */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
  }
  @media screen and (max-width: 768px){
    .nav-menu{
      position: fixed;
      top: var(--header-height);
      right: -100%;
      width: 80%;
      height: 100%;
      padding: 2rem;
      background-color: var(--second-color);
      transition: .5s;
    }
  }
  .nav-item{
    margin-bottom: 2rem;
  }
  .nav-link{
    position: relative;
    color: #fff;
  }
  .nav-link:hover{
    position: relative;
  }
  .nav-link:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
  }
  .nav_logo{
    color: var(--second-color);
  }
  .nav_toggle{
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /*Active menu*/
  .active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
  }

  .show{
    right: 0;
  }
  

  /* Home */
.home{
    height: calc(100vh - 3rem);
    row-gap: -1rem;
}
.home_data{
    align-self: center;
}
.home_title{
    font-size: var(--big-font-size);
    margin-bottom: 2.5rem;
}
.home-title_col{
    color: var(--first-color);
}
.home_social{
    display: flex;
    flex-direction: column;
}
.home-social_icon{
    width: max-content;
    margin-left: 1rem;
    font-size: 1.5rem;
    color: var(--second-color);
}
.home-social_icon:hover{
    color: var(--first-color);
}
.home_img img{
    height: auto;
    width: 450px;
    position: absolute;
    right: 10rem;
    bottom: 8rem;
    width: 350px;
    border-radius: 50%;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
}

/* Buttons */
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
}
.button:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

/* About */
.about_container{
    row-gap: 2rem;
    text-align: center;
    padding-bottom: 2rem;
}
.about_subtitle{
    margin-bottom: 1rem;
}
.about_img :hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* Skills */
.skill_container{
    row-gap: 2rem;
    text-align: center;
}
.skill_subtitle{
    margin-bottom: 1rem;
}

.about_img{
    justify-self: center;
  }
.about_img img{
    width: 200px;
    border-radius: .5rem;
}

/* ===Skills== */

 .skill_container{
     row-gap: 2rem;
     text-align: center;
 }
 .skill_subtitle{
     margin-bottom: 1rem;
 }

.skill_text{
    margin-bottom: 2rem;
}
.skill_data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: .5rem 1rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
}
.skill_icon{
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--first-color);
}
.skill_name{
    display: flex;
    align-items: center;
}
.skill_bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: .25rem;
    border-radius: .5rem;
    z-index: -10;
}
.skill_html{
    width: 90%;
}
.skill_css{
    width: 80%;
}
.skill_js{
    width: 50%;
}
.skill_cpp{
    width: 80%;
}
.skill_img{
    border-radius: .5rem;
}

/* Work */
.work_container{
    row-gap: 2rem;
}
.work_img{
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    border-radius: .5rem;
    overflow: hidden;
}

.work_img img{
    transition: 1s;
    cursor: pointer;
}
.work_img img:hover{
    transform: scale(1.2);
}

/* Contact */

.contact_section{
    margin-bottom: 4rem;
}
.contact_input{
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: .5rem;
    border: 1.5px solid var(--second-color);
    outline: none;
    margin-bottom: 2rem;
}
.contact_button{
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin-left: auto;
}

/* Footer */
.footer{
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
}
.footer_title{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.footer_social{
    margin-bottom: 2rem;
}
#footer_icon{
    font-size: 1.5rem;
    color: #fff;
    margin: 0 1rem;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    body{
        margin: 0;
    }
    .section{
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    .section_title{
        margin-bottom: 3rem;
    }
    .section_title::after{
        width: 80px;
        top: 3rem;
    }
    .nav{
        height: calc(var(--header-height) + 1rem);
    }
    .nav-list{
        display: flex;
        padding-top: 0;
    }
    .nav-item{
        margin-left: 3rem;
        margin-bottom: 0;
    }
    .nav_toggle{
        display: none;
    }
    .nav-link{
        color: var(--second-color);
    }

    .home{
        height: 100vh;
    }
    .home_data{
        align-self: flex-end;
    }
    .home_social{
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
    }
    .home-social_icon{
        margin-bottom: 0;
        margin-right: 2rem;
    }
    .home_img{
        width: 450px;
        bottom: 15%;
    }

    .about_container , .skill_container{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: initial;
    }
    .about_img img{
        width: 300px;
    }
    .work_container{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap: 2rem;
    }
    .contact_form{
        width: 360px;
    }
    .contact_container{
        justify-items: center;
    }
}

@media screen and (min-width: 1024px){
    .bd_grid{
      margin-left: auto;
      margin-right: auto;
    }
    .home_img{
      right: 10%;
    }
  }
